/local.properties
/keystore.local.properties
/IPv6Droid/release/IPv6Droid-release.apk
/IPv6Droid/release/output.json
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/
/.idea/libraries/
